<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>588823826282-30csru025217f8bj6h2k14f6smdo54tk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588823826282-30csru025217f8bj6h2k14f6smdo54tk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>588823826282-fb4r9fot379etmtfn184vjr854g2mja9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWVRIulhvjOdP5Dqe-rwIm12OJtXS0bG0</string>
	<key>GCM_SENDER_ID</key>
	<string>588823826282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>work.goodday.m.app</string>
	<key>PROJECT_ID</key>
	<string>coral-ring-165223</string>
	<key>STORAGE_BUCKET</key>
	<string>coral-ring-165223.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588823826282:ios:8e5774357db0d1b8</string>
	<key>DATABASE_URL</key>
	<string>https://coral-ring-165223.firebaseio.com</string>
</dict>
</plist>